body
{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
#header_component
{
    width: 100%;
    padding: 13px 0;
    position: absolute;
    background-color: #0C0C0C;
    color: #F5F5F5;
}
.nav_bar_button a
{
    color: #F5F5F5;
    text-decoration: none;
}
#home_component
{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("images/desktop1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#home_component_content
{
    margin: 0 auto;
    color: #F5F5F5;
}
#home_component_content h1
{
    margin: 0;
    font-weight: 900;
}
#home_component_content h2
{
    margin: 13.5px 0;
    font-weight: 700;
}
.component_title
{
    text-align: center;
}
.dividing_line
{
    width: 40%;
    height: 3px;
    margin: 20px 30% 0 30%;
    background-color: #0C0C0C;
}
.wrapper
{
    margin: 0 auto;
}
#skills_component_wrapper
{
    display: flex;
}
#skill_list
{
    margin: 0 auto;
    padding: 0;
}
.fa-code
{
    color: #0c0c0c;
    opacity: 0.8;
}
#projects_wrapper
{
    display: table;
}
.project_thumbnail
{
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project_thumbnail:hover
{
    cursor: pointer;
}
#project_page_img
{
    display: block;
    margin: 0 auto;
}    
#back_button_icon:hover
{
    color: #0C0C0C;
    cursor: pointer;
}
#back_button_icon
{
    position: absolute;
    left: 8px;
    color: #B6B6B6;
}
#img_icon_wrapper
{
    margin: 13.5px auto 10px auto;
    display: table;
}
.image_selection_icon
{
    float: left;
    background-color: #B6B6B6;
}
.image_selection_icon:hover
{
    cursor: pointer;
    background-color: #0C0C0C;
}
#selected
{
    background-color: #0C0C0C;
}
#contact_component
{
    padding-bottom: 65px;
}
#contact_info_email
{
    text-align: center;
}
#links
{
    margin: 0 auto;
    display: table;
}
#footer_component p
{
    margin: 0;
}
.fab
{
    margin: 0 13px;
    color: #0C0C0C;
    text-decoration: none;
}
#footer_component
{
    padding: 8px 0 3px 8px;
    background-color: #0C0C0C;
    color: #F5F5F5;
}

/*Code for the menu button's animation*/
#nav_bar_reveal_icon
{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 8px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.bar
{
    width: 100%;
    height: 6px;
    display: block;
    position: absolute;
    left: 0;
    background-color: #F5F5F5;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav_bar_reveal_icon span:nth-child(1)
{
    top: 0px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#nav_bar_reveal_icon span:nth-child(2)
{
    top: 12px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#nav_bar_reveal_icon span:nth-child(3)
{
    top: 24px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#nav_bar_reveal_icon.open span:nth-child(1)
{
    top: -2px;
    left: -5.33333px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav_bar_reveal_icon.open span:nth-child(2)
{
    width: 0%;
    left: 40px;
    opacity: 0;
}

#nav_bar_reveal_icon.open span:nth-child(3)
{
    top: 26px;
    left: -5.33333px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    p, #skill_list li
    {
        font-size: 15px;
        line-height: 1.45;
    }
    p
    {
        margin: 13.5px 4.75%;
    }
    #skill_list
    {
        margin: 0 9.5%;
    }
    #name
    {
        margin: 0;
        display: block;
        font-size: 21.25px;
        line-height: 33px;
        text-align: center;
    }
    #nav_bar_reveal_icon
    {
        display: block;
        top: 13px;
        right: 8px;
    }
    #header_nav_bar
    {
        display: none;
    }
    .nav_bar_button
    {
        margin: 0 8px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    #home_component_content h1
    {
        font-size: 48px;
        line-height: 45px;
    }
    #home_component_content h2
    {
        font-size: 21px;
    }
    .component_title
    {
        margin: 15px 22px 10px 22px;
        font-size: 30px;
    }
    .wrapper
    {
        width: 96%;
    }
    .dividing_line
    {
        width: 42.875%;
    }
    .fa-li
    {
        top: -2px;
    }
    .fa-code
    {
        font-size: 9px;
        font-weight: 600;
    }
    .project_thumbnail
    {
        width: 42.875%;
        margin: 0 0 4.75% 4.75%;
        padding-bottom: 42.875%;
    }
    .project_thumbnail:last-of-type
    {
        margin: 0 28.5625% 4.25% 28.5625%
    }
    #project_page_img
    {
        width: 75%;
    }
    #back_button_icon
    {
        margin-top: 4.4px;
        font-size: 25px;
    }
    .image_selection_icon
    {
        width: 20px;
        height: 20px;
        margin: 0 8px;
    }
    .fab
    {
        margin-top: 13px;
        font-size: 40px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    p, #skill_list li
    {
        font-size: 17.75px;
        line-height: 1.45;
    }
    p, #skill_list ul
    {
        margin: 13.5px 3%;
    }
    #name
    {
        margin: 0;
        display: block;
        line-height: 33px;
        text-align: center;
    }
    #nav_bar_reveal_icon
    {
        display: block;
        top: 13px;
        right: 8px;
    }
    #header_nav_bar
    {
        display: none;
    }
    .nav_bar_button
    {
        margin: 0 8px;
        line-height: 33px;
        text-align: center;
    }
    #home_component_content h1
    {
        font-size: 70px;
        line-height: 60px;
    }
    #home_component_content h2
    {
        font-size: 30px;
    }
    .component_title
    {
        margin: 15px 0 10px 0;
        font-size: 30px;
    }
    .wrapper
    {
        width: 90%;
    }
    .fa-li
    {
        top: -2px;
    }
    .fa-code
    {
        font-size: 13px;
        font-weight: 600;
    }
    .project_thumbnail
    {
        width: 29.33%;
        margin: 0 0 3% 3%;
        padding-bottom: 29.33%;
    }
    #project_page_img
    {
        width: 75%;
    }
    #back_button_icon
    {
        margin-top: 1px;
        font-size: 32px;
    }
    .image_selection_icon
    {
        width: 30px;
        height: 30px;
        margin: 0 13.5px;
    }
    .fab
    {
        font-size: 30px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px)
{
    p, #skill_list li
    {
        font-size: 17.75px;
        line-height: 1.45;
    }p, #skill_list ul
    {
        margin: 13.5px 6.25%;
    }
    #name
    {
        margin-left: 8px;
        display: inline;
        line-height: initial;
    }
    #nav_bar_reveal_icon
    {
        display: none;
    }
    #header_nav_bar
    {
        display: block;
        float: right;
    }
    .nav_bar_button
    {
        margin: 0 8px;
        display: inline;
        line-height: 33px;
    }
    .project_thumbnail
    {
        width: 25%;
        margin: 0 0 6.25% 6.25%;
        padding-bottom: 25%;
    }
    #project_page_img
    {
        width: 75%;
    }
    #back_button_icon
    {
        margin-top: 1px;
    }
    .image_selection_icon
    {
        width: 30px;
        height: 30px;
        margin: 0 13.5px;
    }
    .fab
    {
        font-size: 40px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px)
{
    p, #skill_list li
    {
        font-size: 17.75px;
        line-height: 1.45;
    }
    p, #skill_list ul
    {
        margin: 13.5px 6.25%;
    }
    #name
    {
        margin-left: 8px;
        display: inline;
        line-height: initial;
    }
    .wrapper
    {
        width: 1350px;
    }
    .fa-li
    {
        top: -2px;
    }
    .fa-code
    {
        font-size: 13px;
        font-weight: 600;
    }
    .image_selection_icon
    {
        width: 30px;
        height: 30px;
        margin: 0 13.5px;
    }
    .fab
    {
        font-size: 40px;
    }
}